<div class="container row">
    <div class="comments">
        {{#each this}}
        <div class="card post comment-box">
            <div class="card-body post-body">
                <div class="card-text comment-text">
                    {{comment}}
                </div>
                <div>
                    {{user.username}}, {{ user_id}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>