{{#each posts }}
<div class="row align-center mb-5 cardContainer">
    <div class="col-md-6 postContainer">
        <h2>{{title}}</h2>

        <h2>{{comment}}</h2>

    </div>
    <div class="col-md-6">
        <h2>{{comment}}</h2>
    </div>
</div>
{{/each}}