:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: whitesmoke;
}
h1 {
  display: flex;
  font-size: 50px !important;
  justify-content: left;
  color: white;
}
a {
  color: var(--dark);
  text-decoration: none;
  padding: 60px;
}

a:visited {
  color: inherit;
}
single-post-container{

}
header {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  max-width: 100%;
  padding: 60px;

  color: white;
  text-align: center;
  background-color: #4267b2;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border-style: groove 5px #4267b2;
}
.projects__row-content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.projects__row-content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .projects__row-content-title {
    font-size: 2.4rem;
  }
  .projects__row-content-desc {
    font-size: 1.8rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
  }
  
  @media only screen and (max-width: 37.5em) {
    .projects__row-content-desc {
      font-size: 1.7rem;
    }
}
.btn--med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}

.btn--theme {
  background: #4267b2;
  color: #fff;
}
aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}


.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #4267b2;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
